body {
    background-color: lightgrey;
}
ul {
    list-style-type:  none;
    background-color: grey;
    display: block;
    
}
ul li {
   color: white; 
   display: inline-block; 
   height: 50px;
   width: 120px;
   background-color: white;
   font-size: 20px;
   text-align: center;
   text-decoration: blue;
   line-height: 40px;
}
.hello {
    text-decoration: blue;
    border: left;
    color: black;
    display: block;
}
.block{
    padding-bottom: 10px;
}